@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/arial/arial-regular.ttf");
}

@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/georgia/georgia-regular.ttf");
}

.wrapper-pets .pets .slider .left-btn:hover,
.wrapper-pets .pets .slider .right-btn:hover, .wrapper-pets .pets .slider .card:hover, .wrapper-pets .pets .slider .card:hover button, .wrapper-pets .pets .get-rest-btn:hover, .wrapper-donation .donation .donation-content .content .credit-card:hover {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

body {
  padding: 0;
  margin: 0;
}

.wrapper-start {
  width: 100%;
  background-image: url("../../assets/images/start-screen-background.jpg");
  background: radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.wrapper-start .start-screen {
  max-width: 1280px;
  width: 100%;
  min-height: 908px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: -2px;
}

@media (max-width: 767px) {
  .wrapper-start .start-screen {
    min-height: 823px;
  }
}

.wrapper-start .start-screen header {
  max-width: 1280px;
  min-height: 60px;
  width: 100%;
  padding-top: 30px;
  margin-bottom: 50px;
}

@media (max-width: 1279px) {
  .wrapper-start .start-screen header {
    padding-top: 10px;
  }
}

@media (max-width: 767px) {
  .wrapper-start .start-screen header {
    padding-top: 3px;
    margin-bottom: 0;
  }
}

.wrapper-start .start-screen header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  min-height: 60px;
  width: 100%;
  padding-bottom: 40px;
  margin: 0 auto;
}

.wrapper-start .start-screen header .wrapper .logo {
  position: relative;
  width: 190px;
  height: 60px;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1279px) {
  .wrapper-start .start-screen header .wrapper .logo {
    padding-left: 30px;
    margin-top: -7px;
  }
}

@media (max-width: 767px) {
  .wrapper-start .start-screen header .wrapper .logo {
    padding-left: 10px;
    margin-top: 0;
  }
}

.wrapper-start .start-screen header .wrapper .logo h1 {
  font: 32px "Georgia", serif;
  color: #f1cdb3;
  line-height: 35.2px;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 0;
  padding-top: 30px;
}

@media (max-width: 1279px) {
  .wrapper-start .start-screen header .wrapper .logo h1 {
    padding-top: 25px;
  }
}

@media (max-width: 767px) {
  .wrapper-start .start-screen header .wrapper .logo h1 {
    padding-top: 23px;
  }
}

.wrapper-start .start-screen header .wrapper .logo p {
  font: 15px "Arial", serif;
  font-size: 13px;
  color: white;
  letter-spacing: 1.3px;
  padding-left: 5px;
  margin-top: 10px;
  font-weight: 400px;
}

@media (max-width: 1279px) {
  .wrapper-start .start-screen header .wrapper .logo p {
    margin-top: 8px;
  }
}

@media (max-width: 767px) {
  .wrapper-start .start-screen header .wrapper .logo p {
    margin-top: 10px;
  }
}

.wrapper-start .start-screen header .wrapper .logo a {
  position: absolute;
  top: 30px;
  width: 100%;
  height: 100%;
}

.wrapper-start .start-screen header .wrapper .logo-moved {
  z-index: -2;
}

.wrapper-start .start-screen header .wrapper nav {
  width: 443px;
  height: 27px;
  padding-right: 40px;
  padding-top: 30px;
}

@media (max-width: 1279px) {
  .wrapper-start .start-screen header .wrapper nav {
    margin-right: 14px;
    padding-top: 12px;
  }
}

@media (max-width: 767px) {
  .wrapper-start .start-screen header .wrapper nav {
    display: none;
  }
}

.wrapper-start .start-screen header .wrapper nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 443px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  gap: 10px;
  color: #cdcdcd;
}

.wrapper-start .start-screen header .wrapper nav ul a {
  text-decoration: none;
  color: #cdcdcd;
  font: 15px "Arial", serif;
}

.wrapper-start .start-screen header .wrapper nav ul a.--active-nav {
  border-bottom: 3px solid #f1cdb3;
  padding-bottom: 4px;
}

.wrapper-start .start-screen header .wrapper nav ul a:visited {
  color: #cdcdcd;
}

.wrapper-start .start-screen header .wrapper nav ul a:hover {
  color: white;
}

.wrapper-start .start-screen header .wrapper .burger {
  display: none;
  margin-top: 46px;
  z-index: 3;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.wrapper-start .start-screen header .wrapper .burger .line {
  width: 30px;
  border: 1px solid #f1cdb3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 767px) {
  .wrapper-start .start-screen header .wrapper .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 8px;
    margin-right: 53px;
  }
}

.wrapper-start .start-screen header .wrapper .rotated {
  -webkit-transform: rotate(810deg);
          transform: rotate(810deg);
  position: fixed;
  right: 3px;
  top: 4px;
}

.wrapper-start .start-screen .wrapper-start-page {
  max-width: 1200px;
  width: 100%;
  min-height: 728px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto 0;
}

@media (max-width: 1279px) {
  .wrapper-start .start-screen .wrapper-start-page {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 70px;
    padding-left: 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media (max-width: 767px) {
  .wrapper-start .start-screen .wrapper-start-page {
    padding: 0;
    gap: 80px;
    margin-top: 40px;
    min-height: 673px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.wrapper-start .start-screen .wrapper-start-page .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 460px;
  width: 100%;
  min-height: 322px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: -78px;
}

@media (max-width: 767px) {
  .wrapper-start .start-screen .wrapper-start-page .content {
    max-width: 300px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    gap: 42px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.wrapper-start .start-screen .wrapper-start-page .content .heading {
  font: 32px "Georgia", serif;
  font-size: 44px;
  width: 310px;
  color: white;
  font-weight: 400;
  line-height: 130%;
  margin: 0;
}

@media (max-width: 767px) {
  .wrapper-start .start-screen .wrapper-start-page .content .heading {
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 1.5px;
    text-align: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 45px;
    min-width: 300px;
    margin-left: -4px;
    margin-top: -2px;
  }
}

.wrapper-start .start-screen .wrapper-start-page .content .subheading {
  font: 15px "Arial", serif;
  font-weight: 400;
  font-size: 15px;
  color: #cdcdcd;
  width: 460px;
  line-height: 160%;
}

@media (max-width: 1279px) {
  .wrapper-start .start-screen .wrapper-start-page .content .subheading {
    padding-bottom: 4px;
  }
}

@media (max-width: 767px) {
  .wrapper-start .start-screen .wrapper-start-page .content .subheading {
    padding: 0;
    margin: 0;
    max-width: 300px;
    width: 100%;
    text-align: center;
  }
}

.wrapper-start .start-screen .wrapper-start-page .content form {
  padding-bottom: 2px;
}

@media (max-width: 1279px) {
  .wrapper-start .start-screen .wrapper-start-page .content form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.wrapper-start .start-screen .wrapper-start-page .content button {
  width: 207px;
  height: 52px;
  background-color: #f1cdb3;
  font: 32px "Georgia", serif;
  font-size: 17px;
  border-radius: 100px;
  letter-spacing: 1px;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.wrapper-start .start-screen .wrapper-start-page .content button:hover {
  background-color: #fddcc4;
  cursor: pointer;
}

.wrapper-start .start-screen .wrapper-start-page .pushed_down {
  padding-top: 8px;
}

.wrapper-start .start-screen .wrapper-start-page img {
  max-width: 698px;
  width: auto;
  max-height: 728px;
  height: auto;
}

@media (max-width: 1279px) {
  .wrapper-start .start-screen .wrapper-start-page img {
    padding-left: 140px;
    max-width: 569px;
    width: 100%;
    height: auto;
    margin-top: 99px;
  }
}

@media (max-width: 767px) {
  .wrapper-start .start-screen .wrapper-start-page img {
    max-width: 260px;
    width: 100%;
    height: 271px;
    padding-left: 40px;
    margin: 0;
  }
}

.wrapper-start .start-screen .burger-menu {
  z-index: 2;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 320px;
  height: 100%;
  background-color: #292929;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.wrapper-start .start-screen .burger-menu ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  padding-top: 167px;
  padding-right: 38px;
}

.wrapper-start .start-screen .burger-menu ul li a {
  text-decoration: none;
  color: #cdcdcd;
  font: 15px "Arial", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 160%;
}

.wrapper-start .start-screen .burger-menu ul li a:hover {
  color: #fafafa;
}

.wrapper-start .start-screen .burger-menu ul li .--active-nav {
  border-bottom: 3px solid #f1cdb3;
  padding-bottom: 4px;
  color: #fafafa;
}

.wrapper-start .start-screen .burger-menu .logo {
  position: relative;
  width: 190px;
  height: 60px;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 8px;
}

@media (max-width: 1279px) {
  .wrapper-start .start-screen .burger-menu .logo {
    padding-left: 30px;
    margin-top: -7px;
  }
}

@media (max-width: 767px) {
  .wrapper-start .start-screen .burger-menu .logo {
    padding-left: 10px;
    margin-top: 0;
  }
}

.wrapper-start .start-screen .burger-menu .logo h1 {
  font: 32px "Georgia", serif;
  color: #f1cdb3;
  line-height: 35.2px;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 0;
  padding-top: 30px;
}

@media (max-width: 1279px) {
  .wrapper-start .start-screen .burger-menu .logo h1 {
    padding-top: 25px;
  }
}

@media (max-width: 767px) {
  .wrapper-start .start-screen .burger-menu .logo h1 {
    padding-top: 23px;
  }
}

.wrapper-start .start-screen .burger-menu .logo p {
  font: 15px "Arial", serif;
  font-size: 13px;
  color: white;
  letter-spacing: 1.3px;
  padding-left: 5px;
  margin-top: 10px;
  font-weight: 400px;
}

@media (max-width: 1279px) {
  .wrapper-start .start-screen .burger-menu .logo p {
    margin-top: 8px;
  }
}

@media (max-width: 767px) {
  .wrapper-start .start-screen .burger-menu .logo p {
    margin-top: 10px;
  }
}

.wrapper-start .start-screen .burger-menu .logo a {
  position: absolute;
  top: 30px;
  width: 100%;
  height: 100%;
}

.wrapper-start .start-screen .opened {
  visibility: visible;
  right: 0px;
}

.wrapper-start .start-screen .darken-background {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 41, 41, 0.6);
}

.wrapper-start .start-screen .bg-active {
  z-index: 1;
  display: block;
}

.about {
  max-width: 1280px;
  width: 100%;
  min-height: 588px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  gap: 80px;
}

@media (max-width: 1279px) {
  .about {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 95px;
    padding-left: 25px;
  }
}

@media (max-width: 767px) {
  .about {
    gap: 40px;
  }
}

.about .about-content {
  max-width: 430px;
  width: 100%;
  min-height: 380px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
  margin-top: -15px;
}

@media (max-width: 1279px) {
  .about .about-content {
    padding: 0px;
    line-height: 130%;
    margin-left: -10px;
  }
}

@media (max-width: 767px) {
  .about .about-content {
    padding: 0;
    margin: 0;
    max-width: 300px;
    margin-top: -49px;
  }
}

.about .about-content .heading {
  font: 32px "Georgia", serif;
  font-size: 35px;
  line-height: 130%;
  max-width: 370px;
  width: 100%;
  min-height: 90px;
  letter-spacing: 0.06em;
  color: #545454;
  padding: 0;
  margin: 0;
}

@media (max-width: 767px) {
  .about .about-content .heading {
    font-size: 25px;
    line-height: 130%;
    max-width: 300px;
    text-align: center;
    padding: 0 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-top: -3px;
    margin-left: -11px;
    margin-bottom: 0px;
    min-height: 64px;
  }
}

.about .about-content .subheading-1,
.about .about-content .subheading-2 {
  font: 15px "Arial", serif;
  font-size: 15px;
  line-height: 160%;
  color: #4c4c4c;
  padding: 0;
  margin: 0;
}

@media (max-width: 767px) {
  .about .about-content .subheading-1,
  .about .about-content .subheading-2 {
    max-width: 270px;
    text-align: justify;
    margin-top: 0px;
  }
}

@media (max-width: 767px) {
  .about .about-content .subheading-2 {
    margin-top: -3px;
  }
}

.about img {
  max-width: 300px;
  width: 100%;
  max-height: 408px;
  padding-bottom: 15px;
  padding-right: 40px;
}

@media (max-width: 1279px) {
  .about img {
    padding-left: 35px;
    padding-bottom: 100px;
  }
}

@media (max-width: 767px) {
  .about img {
    width: 260px;
    height: 353px;
    margin-top: 0px;
    padding: 0;
    margin-left: -25px;
    padding-bottom: 43px;
  }
}

.wrapper-pets {
  width: 100%;
  background-color: #f6f6f6;
  padding-bottom: 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767px) {
  .wrapper-pets {
    padding-bottom: 22px;
  }
}

.wrapper-pets .pets {
  max-width: 1280px;
  width: 100%;
  min-height: 830px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -2px;
}

@media (max-width: 1279px) {
  .wrapper-pets .pets {
    padding: 0px 0px 0px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-top: 0px;
  }
}

@media (max-width: 767px) {
  .wrapper-pets .pets {
    margin-left: -17px;
    margin-top: -62px;
  }
}

.wrapper-pets .pets .heading {
  max-width: 400px;
  width: 100%;
  min-height: 90px;
  font: 32px "Georgia", serif;
  font-size: 35px;
  line-height: 130%;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
  padding-bottom: 23px;
}

@media (max-width: 1279px) {
  .wrapper-pets .pets .heading {
    margin-top: 28px;
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  .wrapper-pets .pets .heading {
    font-size: 25px;
    margin-top: 41px;
    padding: 0;
  }
}

.wrapper-pets .pets .slider {
  max-width: 1200px;
  min-height: 435px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 55px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 1279px) {
  .wrapper-pets .pets .slider {
    gap: 11px;
    margin-left: 15px;
  }
}

@media (max-width: 767px) {
  .wrapper-pets .pets .slider {
    max-width: 270px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 80px;
            column-gap: 80px;
    row-gap: 20px;
    margin-top: -10px;
    margin-left: 17px;
  }
}

.wrapper-pets .pets .slider .left-btn,
.wrapper-pets .pets .slider .right-btn {
  width: 52px;
  height: 52px;
  border: 2px solid #f1cdb3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f6f6f6;
  border-radius: 100px;
  color: #292929;
}

@media (max-width: 767px) {
  .wrapper-pets .pets .slider .left-btn,
  .wrapper-pets .pets .slider .right-btn {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.wrapper-pets .pets .slider .left-btn:hover,
.wrapper-pets .pets .slider .right-btn:hover {
  background-color: #f1cdb3;
}

.wrapper-pets .pets .slider .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 90px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1279px) {
  .wrapper-pets .pets .slider .cards {
    gap: 40px;
  }
}

@media (max-width: 767px) {
  .wrapper-pets .pets .slider .cards {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

.wrapper-pets .pets .slider .card {
  width: 270px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 435px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fafafa;
}

.wrapper-pets .pets .slider .card:hover {
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  cursor: pointer;
}

.wrapper-pets .pets .slider .card:hover button {
  cursor: pointer;
  border: 2px solid #f1cdb3;
  background-color: #f1cdb3;
}

.wrapper-pets .pets .slider .card p {
  font: 32px "Georgia", serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  padding-top: 10px;
  text-align: center;
}

.wrapper-pets .pets .slider .card button {
  width: 187px;
  height: 52px;
  border: 2px solid #f1cdb3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  background: transparent;
  font: 32px "Georgia", serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  margin-top: 10px;
  box-sizing: border-box;
}

@media (max-width: 1279px) {
  .wrapper-pets .pets .slider .card-3 {
    display: none;
  }
}

@media (max-width: 767px) {
  .wrapper-pets .pets .slider .card-2 {
    display: none;
  }
}

@media (max-width: 767px) {
  .wrapper-pets .pets form {
    height: 52px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

.wrapper-pets .pets .get-rest-btn {
  width: 261px;
  height: 52px;
  background-color: #f1cdb3;
  font: 32px "Georgia", serif;
  font-size: 17px;
  border-radius: 100px;
  letter-spacing: 1px;
  border: none;
  margin-top: 60px;
}

@media (max-width: 1279px) {
  .wrapper-pets .pets .get-rest-btn {
    margin-left: 15px;
  }
}

@media (max-width: 767px) {
  .wrapper-pets .pets .get-rest-btn {
    margin-top: 42px;
  }
}

.wrapper-pets .pets .get-rest-btn:hover {
  background-color: #fddcc4;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.help {
  max-width: 1200px;
  width: 100%;
  min-height: 611px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.help .help-content {
  max-width: 1200px;
  width: 100%;
  min-height: 431px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1279px) {
  .help .help-content {
    margin-top: 88px;
    margin-left: 15px;
  }
}

@media (max-width: 767px) {
  .help .help-content {
    margin: 0;
    margin-top: 52px;
  }
}

.help .help-content .heading {
  max-width: 308px;
  width: 100%;
  min-height: 90px;
  font: 32px "Georgia", serif;
  font-size: 35px;
  line-height: 45.5px;
  text-align: center;
  color: #545454;
  letter-spacing: 1.97px;
  margin: 0;
  margin-top: -9px;
}

@media (max-width: 1279px) {
  .help .help-content .heading {
    padding-bottom: 58px;
  }
}

@media (max-width: 767px) {
  .help .help-content .heading {
    font-size: 25px;
    text-align: center;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    letter-spacing: 0.06em;
    line-height: 130%;
    padding-bottom: 40px;
  }
}

.help .help-content .img-list {
  max-width: 1026px;
  width: 100%;
  min-height: 281px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 120px;
          column-gap: 120px;
  row-gap: 55px;
  padding-bottom: 10px;
}

@media (max-width: 1279px) {
  .help .help-content .img-list {
    -webkit-column-gap: 60px;
            column-gap: 60px;
    row-gap: 55px;
    padding-bottom: 100px;
  }
}

@media (max-width: 767px) {
  .help .help-content .img-list {
    margin: 0 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 290px;
    -webkit-column-gap: 30px;
            column-gap: 30px;
    row-gap: 27px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-bottom: 40px;
  }
}

.help .help-content .img-list .card-help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

@media (max-width: 1279px) {
  .help .help-content .img-list .card-help {
    width: 170px;
    height: 113px;
  }
}

@media (max-width: 767px) {
  .help .help-content .img-list .card-help {
    width: 130px;
    height: 90px;
    gap: 0px;
  }
}

.help .help-content .img-list .card-help img {
  display: block;
  height: 60px;
  width: 60px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .help .help-content .img-list .card-help img {
    width: 50px;
    height: 50px;
  }
}

.help .help-content .img-list .card-help p {
  font: 32px "Georgia", serif;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  font-weight: 400;
  color: #545454;
  text-align: center;
  letter-spacing: 1.1px;
  margin: 0;
}

@media (max-width: 767px) {
  .help .help-content .img-list .card-help p {
    font-size: 15px;
  }
}

.wrapper-donation {
  width: 100%;
  background-color: #f6f6f6;
}

.wrapper-donation .donation {
  max-width: 1280px;
  width: 100%;
  min-height: 465px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1279px) {
  .wrapper-donation .donation {
    padding-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .wrapper-donation .donation {
    padding-bottom: 42px;
  }
}

.wrapper-donation .donation .donation-content {
  max-width: 915px;
  width: 100%;
  min-height: 282px;
  margin-top: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

@media (max-width: 1279px) {
  .wrapper-donation .donation .donation-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-left: 15px;
    gap: 57px;
    margin-top: 80px;
    margin-bottom: 85px;
  }
}

@media (max-width: 767px) {
  .wrapper-donation .donation .donation-content {
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 40px 10px 0;
    gap: 40px;
  }
}

.wrapper-donation .donation .donation-content img {
  max-width: 505px;
  width: 100%;
  max-height: 261px;
}

@media (max-width: 767px) {
  .wrapper-donation .donation .donation-content img {
    width: 260px;
    height: 135px;
  }
}

.wrapper-donation .donation .donation-content .content {
  max-width: 380px;
  width: 100%;
  min-height: 282px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

@media (max-width: 1279px) {
  .wrapper-donation .donation .donation-content .content {
    margin-top: 3px;
    gap: 19px;
  }
}

@media (max-width: 767px) {
  .wrapper-donation .donation .donation-content .content {
    gap: 22px;
  }
}

.wrapper-donation .donation .donation-content .content .heading {
  max-width: 300px;
  width: 100%;
  min-height: 90px;
  font: 32px "Georgia", serif;
  font-size: 35px;
  line-height: 45.5px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #545454;
  margin: 0;
  padding: 0;
  line-height: 130%;
}

@media (max-width: 1279px) {
  .wrapper-donation .donation .donation-content .content .heading {
    line-height: 125%;
  }
}

@media (max-width: 767px) {
  .wrapper-donation .donation .donation-content .content .heading {
    font-size: 25px;
    text-align: center;
    letter-spacing: 0.06em;
    padding: 0 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    line-height: 130%;
    min-height: 64px;
    margin-top: -2px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 330px) {
  .wrapper-donation .donation .donation-content .content .heading {
    margin: 0;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0.06em;
    padding: 0 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    line-height: 130%;
    min-height: 64px;
    margin-top: -2px;
  }
}

.wrapper-donation .donation .donation-content .content .subheading {
  max-width: 307px;
  width: 100%;
  font: 32px "Georgia", serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 16.5px;
  letter-spacing: 0.85px;
  color: #545454;
  margin: 0;
  padding: 0;
}

@media (max-width: 1279px) {
  .wrapper-donation .donation .donation-content .content .subheading {
    letter-spacing: 0.0586em;
  }
}

@media (max-width: 767px) {
  .wrapper-donation .donation .donation-content .content .subheading {
    max-width: none;
    letter-spacing: 0.005px;
    text-align: center;
    margin-top: 2px;
  }
}

@media (max-width: 330px) {
  .wrapper-donation .donation .donation-content .content .subheading {
    letter-spacing: 0.005px;
    text-align: center;
    margin-top: 2px;
  }
}

@media (max-width: 767px) {
  .wrapper-donation .donation .donation-content .content form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.wrapper-donation .donation .donation-content .content .credit-card {
  max-width: 349px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f1cdb3;
  min-height: 43px;
  border-radius: 9px;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: -2px;
}

@media (max-width: 767px) {
  .wrapper-donation .donation .donation-content .content .credit-card {
    width: 281px;
    height: 43px;
    margin-top: 2px;
    margin-left: -3px;
  }
}

.wrapper-donation .donation .donation-content .content .credit-card:hover {
  background: #f1cdb3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.wrapper-donation .donation .donation-content .content .credit-card img {
  width: 30px;
  height: 23px;
}

.wrapper-donation .donation .donation-content .content .credit-card a {
  font: 32px "Georgia", serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  color: #545454;
  letter-spacing: 0.06em;
  margin: 0;
  padding: 10px 0;
  text-decoration: none;
}

@media (max-width: 767px) {
  .wrapper-donation .donation .donation-content .content .credit-card a {
    font-size: 15px;
  }
}

.wrapper-donation .donation .donation-content .content .credit-card a:visited {
  color: #545454;
}

.wrapper-donation .donation .donation-content .content .legal-info {
  max-width: 380px;
  width: 100%;
  min-height: 72px;
  font: 15px "Arial", serif;
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
  color: #b2b2b2;
  margin: 0;
  padding: 0;
}

@media (max-width: 767px) {
  .wrapper-donation .donation .donation-content .content .legal-info {
    margin-left: 10px;
  }
}

@media (max-width: 330px) {
  .wrapper-donation .donation .donation-content .content .legal-info {
    text-align: justify;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    letter-spacing: 0.045px;
    max-width: 280px;
    min-height: 90px;
    margin-top: -2px;
    margin-left: 10px;
  }
}

.wrapper-footer {
  width: 100%;
  background-image: url("../../assets/images/footer-gradient-background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper-footer footer {
  max-width: 1280px;
  width: 100%;
  min-height: 350px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 767px) {
  .wrapper-footer footer {
    margin: 0px 10px 0;
    max-width: 300px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-top: 13px;
  }
}

.wrapper-footer footer .footer-content {
  max-width: 1200px;
  width: 100%;
  min-height: 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 1279px) {
  .wrapper-footer footer .footer-content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 60px;
            column-gap: 60px;
    margin-left: 20px;
    margin-top: 15px;
    row-gap: 50px;
  }
}

@media (max-width: 767px) {
  .wrapper-footer footer .footer-content {
    margin: 0;
    row-gap: 10px;
  }
}

.wrapper-footer footer .footer-content .contacts {
  max-width: 279px;
  width: 100%;
  min-height: 234px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 17px;
}

@media (max-width: 767px) {
  .wrapper-footer footer .footer-content .contacts {
    min-height: 225px;
  }
}

.wrapper-footer footer .footer-content .contacts img {
  width: 40px;
  height: 32px;
}

@media (max-width: 767px) {
  .wrapper-footer footer .footer-content .contacts img {
    margin-top: -15px;
  }
}

.wrapper-footer footer .footer-content .contacts p {
  font: 32px "Georgia", serif;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  font-weight: 400;
  color: #f1cdb3;
}

.wrapper-footer footer .footer-content .contacts .title {
  font: 32px "Georgia", serif;
  color: white;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  margin: 0;
}

@media (max-width: 1279px) {
  .wrapper-footer footer .footer-content .contacts .title {
    line-height: 130%;
  }
}

@media (max-width: 767px) {
  .wrapper-footer footer .footer-content .contacts .title {
    font-size: 25px;
    line-height: 130%;
    text-align: center;
  }
}

.wrapper-footer footer .footer-content .contacts .mail {
  max-width: 251px;
  width: 100%;
  min-height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  margin-top: 23px;
  text-decoration: none;
}

@media (max-width: 767px) {
  .wrapper-footer footer .footer-content .contacts .mail {
    margin-left: 13px;
  }
}

.wrapper-footer footer .footer-content .contacts .mail:visited {
  color: #f1cdb3;
}

.wrapper-footer footer .footer-content .contacts .phone {
  max-width: 240px;
  width: 100%;
  min-height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  margin-top: 8px;
  text-decoration: none;
}

@media (max-width: 767px) {
  .wrapper-footer footer .footer-content .contacts .phone {
    margin-left: 19px;
  }
}

.wrapper-footer footer .footer-content .contacts .phone:visited {
  color: #f1cdb3;
}

.wrapper-footer footer .footer-content .locations {
  max-width: 302px;
  width: 100%;
  min-height: 234px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 17px;
}

@media (max-width: 1279px) {
  .wrapper-footer footer .footer-content .locations {
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  .wrapper-footer footer .footer-content .locations {
    min-height: 222px;
    margin-top: 13px;
  }
}

.wrapper-footer footer .footer-content .locations .heading {
  max-width: 270px;
  width: 100%;
  min-height: 90px;
  font: 32px "Georgia", serif;
  color: white;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  margin: 0;
  padding: 0;
}

@media (max-width: 767px) {
  .wrapper-footer footer .footer-content .locations .heading {
    font-size: 25px;
    text-align: center;
    margin-left: 15px;
    min-height: auto;
  }
}

.wrapper-footer footer .footer-content .locations img {
  width: 22px;
  height: 32px;
}

@media (max-width: 767px) {
  .wrapper-footer footer .footer-content .locations img {
    margin-top: -15px;
  }
}

.wrapper-footer footer .footer-content .locations p {
  font: 32px "Georgia", serif;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 00.06em;
  font-weight: 400;
  color: #f1cdb3;
}

.wrapper-footer footer .footer-content .locations .boston,
.wrapper-footer footer .footer-content .locations .london {
  max-width: 302px;
  width: 100%;
  min-height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  text-decoration: none;
}

.wrapper-footer footer .footer-content .locations .boston:visited,
.wrapper-footer footer .footer-content .locations .london:visited {
  color: #f1cdb3;
}

.wrapper-footer footer .footer-content .locations .boston {
  margin-top: 14px;
}

@media (max-width: 767px) {
  .wrapper-footer footer .footer-content .locations .boston {
    margin-top: 19px;
  }
}

.wrapper-footer footer .footer-content .locations .london {
  margin-top: -5px;
}

@media (max-width: 767px) {
  .wrapper-footer footer .footer-content .locations .london {
    margin-top: 5px;
  }
}

.wrapper-footer footer .footer-content img {
  width: 300px;
  height: 310px;
}

@media (max-width: 767px) {
  .wrapper-footer footer .footer-content img {
    width: 260px;
    height: 269px;
    padding-top: 15px;
  }
}

.modal-window {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(41, 41, 41, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-window.hide {
  z-index: -10;
}

.modal-window .pets-card {
  max-width: 952px;
  max-height: 552px;
  width: 100%;
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

@media (max-width: 1279px) {
  .modal-window .pets-card {
    margin-left: 69px;
    margin-right: 69px;
    max-width: 682px;
    max-height: 402px;
  }
}

.modal-window .pets-card form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.modal-window .pets-card form .modal-close-btn {
  background-color: transparent;
  width: 52px;
  height: 52px;
  border: 2px solid #f1cdb3;
  background-repeat: no-repeat;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
}

.modal-window .pets-card .pets-content {
  margin-left: 10px;
  max-width: 900px;
  min-height: 500px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-row: 1;
  grid-row: 1fr;
  background: #fafafa;
  border-radius: 9px;
  gap: 20px;
}

@media (max-width: 1279px) {
  .modal-window .pets-card .pets-content {
    max-width: 630px;
    max-height: 350px;
  }
}

.modal-window .pets-card .pets-content .pets-image {
  margin: auto;
  width: 100%;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  border-radius: 9px 0px 0px 9px;
}

.modal-window .pets-card .pets-content .pets-stat {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  max-width: 351px;
  min-height: 362px;
  margin-top: 50px;
  margin-right: 20px;
}

.modal-window .pets-card .pets-content .pets-stat .pets-name {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.modal-window .pets-card .pets-content .pets-stat .pets-breed {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.modal-window .pets-card .pets-content .pets-stat .pets-description {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.modal-window .pets-card .pets-content .pets-stat .modal-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 11px;
}

.modal-window .pets-card .pets-content .pets-stat .modal-list li::before {
  content: "\2022";
  color: #f1cdb3;
  font-weight: bold;
  display: inline-block;
}

.modal-window .pets-card .pets-content .pets-stat .modal-list li {
  height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-family: "Georgia";
  font-style: normal;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #000000;
}

.white-bg {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: -1;
}
/*# sourceMappingURL=style.css.map */